<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="public/assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      href="public/assets/vendor/fonts/circular-std/style.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="public/assets/libs/css/style.css" />
    <link
      rel="stylesheet"
      href="public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
      <div class="card">
        <div class="card-header text-center">
          <span class="splash-description">Money</span>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <input
                class="form-control form-control-lg"
                id="username"
                type="text"
                placeholder="Username"
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control form-control-lg"
                id="password"
                type="password"
                placeholder="Password"
              />
            </div>
            <button
              id="button-submit"
              type="submit"
              class="btn btn-primary btn-lg btn-block"
            >
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="public/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="public/assets/vendor/axios/axios.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const postLogin = async (user, pass) => {
          try {
            const data = await axios.post("http://localhost:5000/", {
              username: user,
              password: pass,
            });
            console.log(data);
          } catch (error) {
            console.log(error);
          }
        };
        document
          .querySelector("#button-submit")
          .addEventListener("click", async function (e) {
            e.preventDefault();
            const username = document.querySelector("#username").value;
            const password = document.querySelector("#password").value;
            await postLogin(username, password);
          });
      });
    </script>
  </body>
</html>
